<!DOCTYPE html>
<html xmlns ="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<link rel= "Stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrapwatch/4.5.2/cosmo/bootstrap.min.css" />
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div>
<h2> Spring Boot Phonebook Upgrad</h2>
<tr>
<div align = "left">
<h3><a th:href="@{'/new'}">Sign-Up</a></h3>
</div>
</tr>
<tr>
<div class = "col-sm-5" align ="centre">
<div class ="panel-body" align="centre">
<table class  = "table">
<thead class = "thead-dark">
<tr>
<th>Phonebook ID </th>
<th>Name</th>
<th>PhoneNumber</th>
<th>E-mail</th>
<th>Edit</th>
<th>Delete</th>
</tr>
</thead>
<tbody>
<tr th:each="phonebook: ${listphonebook}">
				<td th:text="${phonebook.id">Phonebook ID</td>
				<td th:text="${phonebook.name">Name</td>
				<td th:text="${phonebook.phonenumber">PhoneNumber</td>
				<td th:text="${phonebook.email">E-mail</td>
				<td>
						<a th:href="@"{'/edit/' + $ {phonebook.id}}">Edit</a>
				</td>
				<td>
						<a th:href="@"{'/delete/' + $ {phonebook.id}}">Delete</a>
				</td>
				</tr>
								
</tbody>
</table>

  </div>

 </div>
      </tr>
      </tbody>
      </table>
		</div>
</body>
</html>